SIMULATION_MODE=true
BINANCE_API_KEY=API_KEY_HERE
BINANCE_SECRET_KEY=API_SECRET_HERE
BINANCE_FEE_RATE=0.001
ORDER_USDC_AMOUNT=15
DEBUG_MODE=true
VERBOSE_LOGGING=false
BASE_ASSETS=USDC,BTC,ETH,BNB,DOGE,TRX,XRP
START_ASSET=USDC
WD_ENABLED=true
